<%= form_with(model: template) do |form| %>
  <% if template.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(template.errors.count, "error") %> prohibited this template from being saved:</h2>

      <ul>
        <% template.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body %>
  </div><br/>

   <div>
    <%= form.label :tag_list, "Tags", style: "display: block" %>
    <%= form.text_field :tag_list %>
  </div>

  <div>
    <%= form.label :reversed_meaning_list, "Reversed meanings", style: "display: block" %>
    <%= form.text_field :reversed_meaning_list %>
  </div>

  <div>
    <%= form.label :symbol_list, "Symbols", style: "display: block" %>
    <%= form.text_field :symbol_list %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
